<div style="margin: 10px">
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Value</th>
  </tr>
  </thead>
  <tbody>
  <% @sigma_hs.each do |sigma| %>
  <tr>
    <th scope="row"><%=sigma.id %></th>
    <td><%=sigma.value %></td>
  </tr>
    <% end %>
  </tbody>
</table>
</div>